
body {
    font-family: EB Garamond
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h1 {
    margin: 1em
}
.header-links-container {
    display: flex;
    align-items: center;
}
.header-link {
    color: #5E7A90;
    margin: 1em;
    text-decoration: none;
}


