
body {
    margin: 0;
    font-family: EB Garamond;
    color: #5E7A90;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    font-family: EB Garamond;
    color: #5E7A90;
}

nav, footer {
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
}

.main {
    background-color: #F5F5F5;
    padding: 2em;
}

.logo {
    color: #5E7A90;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}

.header-links-container, .footer-links-container {
    display: flex;
    align-items: center;
}

.header-link {
    color: #5E7A90;
    margin-left: 1em;
    text-decoration: none;
}

.footer-link {
    color: #5E7A90;
    margin-left: 1em;
    text-decoration: none;
    font-size: 1.2em;
}



