body {
    margin: 0;
    font-family: EB Garamond;
    color: #5E7A90;
}

h1, h2, h3, h4, h5, p {
    margin: 0 0 10px 0;
    color: #486280;
}

h1 {
    padding-bottom: 10px;
    font-weight: 900;
}

p {
    font-weight: 40000;    
}

a {
    font-family: EB Garamond;
    font-weight: 700;
    color: #5E7A90;
}

nav, footer {
    padding:  1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    p {
        color: #648AB5;
    }
}

 button {
    background-color: #648AB5; 
    font-family: EB Garamond;
    color: white;
    font-size: .8em;
    border: 0px none;
    border-radius: 4px;
    min-width: 140px;
    padding: .7em;
    margin: .5em 1em .5em 0;
}

.mb-1 {
    margin-bottom: 1em;
}

.home-header {
    font-weight: 20000px;
    text-align: center;
    font-size: 80px;
    margin-bottom: 4em;
}

.home-images {
    display: flex;
    padding: 8em 10% 0 10%;
    align-self: center;
    @media (max-width: 600px) {
        padding: 2em 2em;
    }
}

.home-image {
    max-width: 220px;
    margin: 0 .7em;
    img {
        width: 100%;
        object-fit: fill;
    }
}

.main {
    background-color: #F5F5F5;
    padding: 4em 15%;
    align-self: center;
    @media (max-width: 600px) {
        padding: 2em 2em;
    }
    .vertical-center {
        display: flex;
        align-items: center;  
    }
    .page-content {
        min-height: 48vh;
        display: flex;
        @media (max-width: 600px) {
            flex-direction: column;
            // justify-content: left;
        }
        .text-content-left {
            @media (min-width: 600px) {
                width: 65%;
                padding: 0 2.5em 0 0;
            }
        }

        .text-content-right {
            padding: 1em 0;
            @media (min-width: 600px) {
                width: 65%;
                padding: 0 0 0 1.5em;
            }
        }
        
        .media-content-right {
            display: flex;
            flex-direction: column;
            padding: 1em 0;
            @media (min-width: 600px) {
                width: 35%;
                padding: 0 0 0 1.5em;
            }
            img {
                width: 100%;
                object-fit: fill;
            }
            caption {
                padding-top: .5em;
                text-align: left;
                width: 100%;
            }
        }
        .media-content-left {
            display: flex;
            padding: 1em 0;
            @media (min-width: 600px) {
                width: 35%;
                padding: 0 2.5em 0 0;
            }
            .book-cover {
                width: 50%;
                padding: 0 .5em 0 0;
                @media (max-width: 600px) {
                    padding: .5em 0;
                }
            }
            img {
                width: 100%;
                object-fit: fill;
            }
            caption {
                padding-top: .5em;
                text-align: left;
                font-style: italic;
                width: 100%;
            }
        }
        .book-covers {
            @media (min-width: 600px) {
            width: 50%;
            padding: 0 2.5em 0 0;
            }
        }
    }
}

.logo {
    color: #648AB5;
    text-decoration: none;
    font-size: 30px;
    font-weight: 800;
    margin: 0;
}

.header-links-container, .footer-links-container {
    display: flex;
    align-items: center;
    color: #648AB5;
}

.header-links-container {
    @media (max-width: 600px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
        
}

.header-link {
    font-weight: 200;
    color: #648AB5;
    margin-left: 2em;
    text-decoration: none;
}

.footer-link {
    color: #648AB5;
    margin-left: 1em;
    text-decoration: none;
    font-size: 1.2em;
}

img {
    width: 250px;

}

.book {
    margin-right: 1em;
}

.buttons {
    margin: 100px;
}

.large-quote {
    color: #648AB5;
    font-size: 2em;
    text-align: right;
}

.spacer {
    min-height: 42vh;
}